body {
    margin: 0;
    padding: 0;
}

img {
    position: absolute;
    width: 100%;
}

.logo {
    position:absolute;
    left: 140px;
    z-index: 1;
    width: 4%;
}

.navegador ul {
    position: absolute;
    right: 80px;
    list-style-type: none;
    text-align: center;
    padding-top: 7px;
}

.navegador li {
    z-index: 2;
    display: inline;
    margin: 0 50px 0 0;
    font-family: sans-serif;
    color: white;
    opacity: 40%
}

.menu {
    width: 20px;
    right: 400px;
}

.lupa {
    width: 20px;
    right: 300px;
}

.sesion {
    width: 20px;
    right: 180px; 
}

.texto {
    position: absolute;
    width: 510px;
    display: flex;
    flex-direction: column;
    top: 170px;
    left: 140px;
    font-family: arial;
}

h2 {
    font-size: 30px;
    margin-bottom: 1px
}
p {
    font-size: 17px;
    line-height: 1.5; 
}

a {
    text-decoration: none;
    margin-top: 25px;
}

.texto botton {
    background-color: dodgerblue;
    width: 120px;
    padding: 10px;
    text-align: center;
    margin-top: 15px;
    color: white;
    border-radius: 5px;
}

.texto2 {
    position: absolute;
    width: 500px;
    top:650px;
    right: 170px;
    font-family: arial;
}

hr {
    border-color: #000000;
    
}

h3 {
   font-size: 20px;
    margin-bottom: 1px 
}

.texto2 ul {
    position: absolute;
    left: 0;
    list-style-type: none;
    text-align: left;
    padding-left: 0;
    margin-top: 7px;
}

.texto2 li {
    z-index: 2;
    display: inline;
    margin: 0 50px 0 0;
    font-family: sans-serif;
}

.ps {
    width: 30px;
    right: 250px;
    bottom: 1px;
}

.ill {
    width: 30px;
    right: 120px;
    bottom: 1px;
}

.paleta {
    width: 165px;
    padding-top: 40px;
}